# OS junk
.DS_Store
Thumbs.db
*.user

# Android / Gradle ignores
.gradle/
build/
app/build/
*.iml
.idea/
local.properties

# Backend / .NET / Node ignores
bin/
obj/
.vs/
.vscode/
appsettings.Development.json